{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "vue-eslint-parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "parserOptions": {
    "parsers": [
      "@typescript-eslint/parser",
      "babel-eslint",
      "vue-eslint-parser"
    ],
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}